target/
/project/target
/target
.cache
.idea/**/workspace.xml
.idea/**/libraries
.idea/*
project/target/streams/compile/incCompileSetup/
src/test/
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
project/target/
target
/target/streams
